.products_page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
}

@media screen and (max-width: 556px) {
    .products_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}