.featured_products {
    margin: 65px;
}

.featured_products>h2 {
    font-size: 38px;
    margin-bottom: 65px;
    text-align: center;
}

.featured_products_list {
    justify-content: space-evenly;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
}