@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background-color: #ffffff;
  color: #424242;
}

.align_center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
}